OwlWebServiceClient/src/META-INF/wsdl/OwlWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.owl.owlsoft.at/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.owl.owlsoft.at/" name="OwlWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.owl.owlsoft.at/" schemaLocation="http://localhost:8080/OwlWebService/OwlWebServiceService?xsd=1" />
</xsd:schema>
</types>
<message name="getSession">
<part name="parameters" element="tns:getSession" />
</message>
<message name="getSessionResponse">
<part name="parameters" element="tns:getSessionResponse" />
</message>
<message name="NoPermissionException">
<part name="fault" element="tns:NoPermissionException" />
</message>
<message name="searchMedium">
<part name="parameters" element="tns:searchMedium" />

</message>
<message name="searchMediumResponse">
<part name="parameters" element="tns:searchMediumResponse" />
</message>
<message name="rentMedium">
<part name="parameters" element="tns:rentMedium" />
</message>
<message name="rentMediumResponse">
<part name="parameters" element="tns:rentMediumResponse" />
</message>
<message name="reserveMedium">
<part name="parameters" element="tns:reserveMedium" />
</message>
<message name="reserveMediumResponse">
<part name="parameters" element="tns:reserveMediumResponse" />
</message>
<portType name="OwlWebService">

<operation name="getSession">
<input wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/getSessionRequest" message="tns:getSession" />
<output wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/getSessionResponse" message="tns:getSessionResponse" />
<fault message="tns:NoPermissionException" name="NoPermissionException" wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/getSession/Fault/NoPermissionException" />
</operation>
<operation name="searchMedium">
<input wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/searchMediumRequest" message="tns:searchMedium" />
<output wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/searchMediumResponse" message="tns:searchMediumResponse" />
</operation>
<operation name="rentMedium">
<input wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/rentMediumRequest" message="tns:rentMedium" />
<output wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/rentMediumResponse" message="tns:rentMediumResponse" />
<fault message="tns:NoPermissionException" name="NoPermissionException" wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/rentMedium/Fault/NoPermissionException" />
</operation>
<operation name="reserveMedium">
<input wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/reserveMediumRequest" message="tns:reserveMedium" />
<output wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/reserveMediumResponse" message="tns:reserveMediumResponse" />

<fault message="tns:NoPermissionException" name="NoPermissionException" wsam:Action="http://webservice.owl.owlsoft.at/OwlWebService/reserveMedium/Fault/NoPermissionException" />
</operation>
</portType>
<binding name="OwlWebServicePortBinding" type="tns:OwlWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getSession">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NoPermissionException">
<soap:fault name="NoPermissionException" use="literal" />
</fault>
</operation>

<operation name="searchMedium">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rentMedium">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>

<fault name="NoPermissionException">
<soap:fault name="NoPermissionException" use="literal" />
</fault>
</operation>
<operation name="reserveMedium">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NoPermissionException">
<soap:fault name="NoPermissionException" use="literal" />
</fault>
</operation>
</binding>

<service name="OwlWebServiceService">
<port name="OwlWebServicePort" binding="tns:OwlWebServicePortBinding">
<soap:address location="http://localhost:8080/OwlWebService/OwlWebServiceService" />
</port>
</service>
</definitions>